# use glob syntax.
syntax: glob
*.swp
*.swo
*.pyc
tmp
old
*.log
TODO

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

models
foo.wav
.asciidoctor
README.html
README.md
README.xml
build
dist
py_nltools.egg-info
